.balance-button{
    margin-left:10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.add-fund-button{
    margin-left:10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.withdraw-button{
    margin-left:10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.tranfer-button{
    margin-left:10px;
    margin-right: 10px;
    margin-bottom: 10px;
}