<div class="balance-button"><p-button label="View wallet balance" styleClass="p-button-lg" (click)="onButtonClick(1)"></p-button></div>
<div class="add-fund-button"><p-button label="Add funds to wallet" styleClass="p-button-lg" (click)="onButtonClick(2)"></p-button></div>
<div class="withdraw-button"><p-button label="Withdraw amount from wallet" styleClass="p-button-lg" (click)="onButtonClick(3)"></p-button></div> 
<div class="tranfer-button"><p-button label="Transfer fund to another wallet" styleClass="p-button-lg" (click)="onButtonClick(4)"></p-button></div> 
