<p-menubar [model]="items">
  <ng-template pTemplate="start">
      <div>
        <a href="#"><img src="assets/images/roundWallet.png" style="width: 50px;" alt="walletImage"></a>
      </div>
  </ng-template>
  <ng-template pTemplate="end">
      <p-button label="Admin" styleClass="p-button-link" (click)="adminClick($event)"></p-button>
  </ng-template>
</p-menubar>


<div><h1>{{msg}}</h1></div>

<div [ngSwitch]="showPage">
  <div *ngSwitchCase=1>Wallet Page</div>
  <div *ngSwitchCase=2>Login Page</div>
</div>

<router-outlet></router-outlet>



